$body-bg-colour: linear-gradient(150deg, rgba(131,58,180,0.9318102240896359) 30%, rgba(252,69,69,0.9374124649859944) 100%);
$coral:coral;
$card-bg-color:linear-gradient(126deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
$font:'Yomogi', cursive;
$input-button:#8E49E8;
$trash-icon:#d83c2b;